<gks-top-bar [model]="modelTopBar">
    <span class="material-icons" centerLeadingIcon (click)="menuAction()">menu</span>
    <h1 class="title-large" centerTitle>Geeksand Library</h1>
    <span class="material-icons" centerTrailingIcon>tune</span>
</gks-top-bar>
<gks-nav-drawer [model]="modelNavDrawer" *ngIf="sideMenu" (click)="menuAction()">
    <h6 class="title-large" navDrawerTitle>Geeksand</h6>
    <gks-nav-item *ngFor="let navItem of navItem; index as i" [model]="navItem.model" [itemIndicator]="navItem.active"
      (click)="gotoPage(i)"  navDrawerItem>
        <p navDrawerItemText>{{navItem.text}}</p>
    </gks-nav-item>
</gks-nav-drawer>
<gks-main [model]="largeModelMain">
    <router-outlet></router-outlet>
</gks-main>